@import "tailwindcss";
/* Primary Font (Lato) */ @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* Secondary Font (Sora) */ @import url('https://fonts.googleapis.com/css2?family=Sora:wght@600&display=swap');

:root {
  --orange: #FF4D00;
  --black: #212124;
  --white: #FFFFFF;
  --dark-gray: #333333;
  --mid-gray: #666666;
  --light-gray: #E7EAEB;
  --dark-blue: #011B36;
  --light-blue: #EEF8FF;
  --primary-font: "Lato";
  --secondary-font: "Sora";

  font-family: var(--primary-font), system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 10px;

  color-scheme: light dark;
  color: var(--white);
  background-color: var(--black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  line-height: 1.1;
}

button {
  border-radius: 12px;
  border: 1px solid var(--orange);
  padding: 8px 28px;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: var(--primary-font), sans-serif;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--white);
}
button:focus,
button:focus-visible {
  outline: 1px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
